* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


.hidden {
    display: none;
}

.btn {
    padding: 15px 50px;
    border-radius: 15px;
    border: 1px solid #0A3871;
    color: #0A3871;
    font-size: 16px;
}
.btn:hover {
    cursor: pointer;
    background: #e2e2e2;
}

body {
    background: #F3F5FC;
    height: calc(100vh - 100px);
}

body .container {
    width: 90%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    max-width: 1840px;
    height: 100%;
    max-height: 1000px;
}

body .container .logo .logo-container img {
    width: 30px;
}



body .container .main-col {
    height: 100%;
    margin: 0px 80px;
    width: 100%;
}

body .container .main-col .main-col-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body .container .main-col .main-col-container .main-textarea {
    margin: 50px auto;
    resize: none;
    margin-top: 100px;
    font-size: 32px;
    height: 100%;
    width: 90%;
    border: none;
    background: #F3F5FC;
}

body .container .main-col .main-col-container .main-textarea:focus {
    outline: none;
}

body .container .main-col .main-col-container .main-textarea::placeholder {
    color: #0A3871;
}

body .container .main-col .main-col-container .text-btn-container p {
    text-align: center;
    margin-bottom: 20px;
}

body .container .main-col .main-col-container .text-btn-container .buttons {
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}


body .container .main-col .main-col-container .text-btn-container .buttons .btn.encript-btn {
    background: #0A3871;
    color: #fff;
}

body .container .main-col .main-col-container .text-btn-container .buttons .btn.encript-btn:hover {
    background: #15529c;
}


body .container .result-col .result-col-container {
    background: #fff;
    width: 400px;
    height: 100%;
    padding: 32px;
    text-align: center;
    border-radius: 32px;
    box-shadow: -2px 17px 13px 3px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: -2px 17px 13px 3px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: -2px 17px 13px 3px rgba(0, 0, 0, 0.18);
}

body .container .result-col .result-col-container.nf .not-found {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


body .container .result-col .result-col-container.nf .not-found .text h2 {
    margin-top: 32px;
    margin-bottom: 16px;
    color: #343A40;
}

body .container .result-col .result-col-container.nf .not-found .text p {
    color: #495057;
}

body .container .result-col .result-col-container.found .text-found {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body .container .result-col .result-col-container.found .text-found .text {
    height: 100%;
    margin-bottom: 20px;
}

body .container .result-col .result-col-container.found .text-found .text .result-text {
    line-height: 150%;
    font-size: 24px;
    width: 100%;
    background-color: #fff;
    border: none;
    height: 100%;
    resize: none;
    color: #495057;
    text-align: left;
}

body .container .result-col .result-col-container.found .text-found .btns .btn {
    background: #fff;
}
body .container .result-col .result-col-container.found .text-found .btns .btn:hover {
    background: #eeeeee;
}


/* ---------- ---------- RESPONSIVE ---------- ----------*/
/* ---------- ---------- RESPONSIVE ---------- ----------*/
/* ---------- ---------- RESPONSIVE ---------- ----------*/

@media screen and (max-width:1366px) {
    body .container .main-col{
        margin: auto;
        width: 60%;
    }
    body .container .main-col .main-col-container {
        margin: auto;
    }

    body .container .main-col .main-col-container .text-btn-container .buttons{
        width: 70%;
    }

    body .container .main-col .main-col-container .text-btn-container .buttons .btn {
        padding: 15px 50px;
    }
}

@media screen and (max-width:1250px) {
    body .container .main-col .main-col-container .text-btn-container .buttons{
        width: 90%;
    }
}

@media screen and (max-width:1050px) {
    body .container .main-col .main-col-container .text-btn-container .buttons{
        width: 90%;
        flex-direction: column;
        /* margin: auto; */
    }
    body .container .main-col .main-col-container .text-btn-container .buttons .btn:first-child{
        margin-bottom: 10px;
    }
}

/* Responsive Tablet */
@media screen and (max-width:870px) {
    body .container .main-col .main-col-container{
        width: 70%;
    }

    body .container .result-col .result-col-container{
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    body .container{
        flex-direction: column;
    }

    body .container .main-col .main-col-container{
        width: 100%;
        margin: auto;
    }

    body .container .main-col .main-col-container .main-textarea{
        height: 500px;
    }

    body .container .main-col .main-col-container .text-btn-container .buttons{
        flex-direction: row;
    }

    body .container .main-col .main-col-container .text-btn-container .buttons .btn{
        border-radius: 15px;
    }

    body .container .main-col .main-col-container .text-btn-container .buttons .btn:first-child{
        margin-bottom: 0;
    }

    body .container .result-col .result-col-container{
        margin: 60px auto;
        width: 100%;
        height: fit-content;
    }

    body .container .result-col .result-col-container.nf .not-found .draw{
        display: none;
    }

    body .container .result-col .result-col-container.nf .not-found .text h2{
        margin-top: 0;
    }


    body .container .result-col .result-col-container .btns{
        margin-top: 40px;
    }
}

@media screen and (max-width: 736px) {
    body .container .main-col .main-col-container .text-btn-container .buttons{
        flex-direction: column;
        width: 80%;
    }
    body .container .main-col .main-col-container .text-btn-container .buttons .btn{
        width: 100%;
        margin: 10px 0;
    }
}
